* {
	margin: 0;

  }
  
  
  
  body {
	  font-family: "Roboto", sans-serif;
	  background-color: yellow;

  
  }
  
  h1 {
	  margin: 20px 0;
	  color: #fff;
  }
  
  .center {
	  text-align: center;
  }
  
  .nav-wrapper {
	  display: flex;
	  position: fixed;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  align-items: center;
	  justify-content: space-between;
	  margin: auto;
	  width: 100%;
	  height: 80px;
	  border-radius: 0 0 15px 15px;
	  padding: 0 45px;
	  z-index: 999;
	  background:yellow;
	  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		
  }
  
  .logo-container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  
  .logo {
	  height: 60px;
  }
  
  .nav-tabs {
	  display: flex;
	  font-weight: 600;
	  font-size: 18px;
	  list-style: none;
	margin-right: 20rem;
  }
  
  .nav-tab:not(:last-child) {
	  padding: 10px 25px;
	  margin: 0;
	  border-right: 1px solid rgb(223, 223, 223);
  }
  
  .nav-tab:last-child {
	  padding: 10px 0 0 25px;
  }
  
  .nav-tab,
  .menu-btn {
	  cursor: pointer;
	color: #0e095c;
	transition: 0.7s;
  }
  .nav-tab:hover {
	  cursor: pointer;
	color: #454574;
	transform: scale(1.1);
	
  
  }
  
  .hidden {
	  display: none;
  }
  
  @media screen and (max-width: 800px) {
	  .nav-container {
		  position: fixed;
		  display: none;
		  overflow-y: auto;
		  z-index: -1;
		  top: 0;
		  right: 0;
		  width: 280px;
		  height: 100%;
		  background:yellow;
		  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	  }
  
	  .nav-tabs {
		  flex-direction: column;
		  align-items: flex-end;
		  margin-top: 80px;
		  width: 100%;
		}
		.nav-tab,
		.menu-btn {
			cursor: pointer;
		  color:#0c023b;
		  transition: 0.7s;
		  position: relative;
		  right: 50px;
		}
		.nav-tab:hover {
			cursor: pointer;
		  color:#0c4557;
		  transform: scale(1.1);
		  
		
		}
  
	  .nav-tab:not(:last-child) {
		  padding: 20px 25px;
		  margin: 0;
		  border-right: unset;
		  border-bottom: 1px solid #f5f5f5;
	  }
  
	  .nav-tab:last-child {
		  padding: 15px 25px;
	  }
	  
  
	  .menu-btn {
		  position: relative;
		  display: block;
		  margin: 0;
		  width: 20px;
		  height: 15px;
		  cursor: pointer;
		  z-index: 2;
		  padding: 10px;
		  border-radius: 10px;
	  }
  
	  .menu-btn .menu {
		  display: block;
		  width: 100%;
		  height: 2px;
		  border-radius: 2px;
		  background: #111;
	  }
	#my-signin2 {
	  display: flex;
	  position: relative;
	  top: 20px;
	  left: 25px;
	}
	
	/* Style the dropdown menu */
	#menu-container {
	  display: flex; /* Hide the dropdown menu by default */
	  justify-content: center;
	  position: relative;
	  top: 20px;
	  left: 25px;
	
	}
	
	  .menu-btn .menu:nth-child(2) {
		  margin-top: 4px;
		  opacity: 1;
	  }
  
	  .menu-btn .menu:nth-child(3) {
		  margin-top: 4px;
	  }
  
	  #menuToggle:checked + .menu-btn .menu {
		  transition: transform 0.2s ease;
	  }
  
	  #menuToggle:checked + .menu-btn .menu:nth-child(1) {
		  transform: translate3d(0, 6px, 0) rotate(45deg);
	  }
  
	  #menuToggle:checked + .menu-btn .menu:nth-child(2) {
		  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		  opacity: 0;
	  }
  
	  #menuToggle:checked + .menu-btn .menu:nth-child(3) {
		  transform: translate3d(0, -6px, 0) rotate(-45deg);
	  }
  
	  #menuToggle:checked ~ .nav-container {
		  z-index: 1;
		  display: flex;
		  animation: menu-slide-left 0.3s ease;
	  }
	  @keyframes menu-slide-left {
		  0% {
			  transform: translateX(200px);
		  }
		  to {
			  transform: translateX(0);
		  }
	  }
  }
  
  
  #my-signin2 {
	display: flex;
	margin: 0 25px;
  }
  
  /* Style the dropdown menu */
  #menu-container {
	display: none; /* Hide the dropdown menu by default */
	position: relative;
	margin: -10px 25px;
  
  }
  #menu {
	display: none; /* Hide the dropdown menu by default */
	position: absolute;
	top: 128%;
	left: -50px;
	right: 0px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 350%;
	text-align: center;
	background-color: rgb(255, 255, 0);
  }
  #menu-button {
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
	border-radius: 50%;
  }
  
  #logout-button{
  margin: 20px 2px;
  cursor: pointer;
  width: 90px;
  height: 28px;
  background-color: black;
  color: aliceblue;
  border: 2px solid yellow;
  transition: 0.4s;
  }
  #logout-button:hover{
	transform: scale(1.1);
  }
  
  #name{
	font-size: 20px;
	padding: 10px 0;
  }
  
  
  
  
  .burger {
	display: none;
  }
  
  .burger div {
	width: 25px;
	height: 3px;
	background-color: rgb(0, 0, 0);
	margin: 5px;
	transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}
  }
  
  @media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	
	.nav-links {
		position: fixed;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color:#0c023b ;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	
	
	.burger {
		display: block;
		cursor: pointer;
	}
  }
  
  
  
  .container {
	background-color: #0c023b;
	min-height: calc(100vh - 50px);
	color: white;
  }
  
  .content-container {
	margin-left: 0px;
	
  }
  
  .featured-content {
	height: 70vh;
	padding:75px;
	
  }
  
  
  .featured-title {
	width: 300px;
	margin: 30px 0;
  }
  
  .featured-desc {
	color: lightgray;
	margin: 90px 0;
	
  }
  
  .featured-button {
	background-color: yellow;
	color: rgb(0, 0, 0);
	padding: 10px 20px;
	margin: -50px 0;
	border-radius: 10px;
	border: none;
	outline: none;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;
  }
  .featured-button:hover{
	background-color: transparent;
	border: 2px solid yellow;
	color: white;
  }
  
  .movie-list-container {
	padding: 0 20px;
  }
  
  .movie-list-wrapper {
	position: relative;
	overflow: hidden;
  }
  
  .movie-list {
	display: flex;
	align-items: center;
	height: 300px;
	transform: translateX(0);
	transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
	margin-right: 30px;
	position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
	transform: scale(1.2);
	margin: 0 30px;
	opacity: 0.5;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
	opacity: 1;
  }
  
  .movie-list-item-img {
	transition: all 1s ease-in-out;
	width: 270px;
	height: 200px;
	object-fit: cover;
	border-radius: 20px;
  }
  
  .movie-list-item-title {
	background-color:#0c023b;
	color: yellow;  padding: 0 10px;
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	top: 10%;
	left: 50px;
	opacity: 0;
	transition: 1s all ease-in-out;
  }
  
  .movie-list-item-desc {
	background-color:#0c023b;
	color: yellow;
	padding: 10px;
	font-size: 14px;
	position: absolute;
	top: 30%;
	left: 50px;
	width: 230px;
	opacity: 0;
	transition: 1s all ease-in-out;
  }
  
  .movie-list-item-button {
	padding: 10px;
	background-color: yellow;
	color: black;
	border-radius: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	left: 50px;
	opacity: 0;
	transition: 1s all ease-in-out;
  }
  .movie-list-item-button:hover{
	background-color: transparent;
	border: 2px solid yellow;
	color: white;
  }
  
  .arrow {
	font-size: 120px;
	position: absolute;
	top: 90px;
	right: 0;
	color: lightgray;
	opacity: 0.5;
	cursor: pointer;
  }
  
  
  
  .footer-distributed{
	  background:#0c023b;
	  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	  box-sizing: border-box;
	  width: 100%;
	  text-align: left;
	  font: bold 16px sans-serif;
	  padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
	  display: inline-block;
	  vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
	  width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed h3{
	  color:  #ffffff;
	  font: normal 36px 'Open Sans', cursive;
	  margin: 0;
  }
  
  .footer-distributed h3 span{
	  color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
	  color:  #ffffff;
	  margin: 20px 0 12px;
	  padding: 0;
  }
  
  .footer-distributed .footer-links a{
	  display:inline-block;
	  line-height: 1.8;
	font-weight:400;
	  text-decoration: none;
	  color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
	  color:  yellow;
	  font-size: 14px;
	  font-weight: normal;
	  margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
	  width: 35%;
  }
  
  .footer-distributed .footer-center i{
	  background-color:  yellow;
	  color:#0c023b;
	  font-size: 25px;
	  width: 38px;
	  height: 38px;
	  border-radius: 50%;
	  text-align: center;
	  line-height: 42px;
	  margin: 10px 15px;
	  vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
	  font-size: 17px;
	  line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
	  display: inline-block;
	  color: #ffffff;
	font-weight:400;
	  vertical-align: middle;
	  margin:0;
  }
  
  .footer-distributed .footer-center p span{
	  display:block;
	  font-weight: normal;
	  font-size:14px;
	  line-height:2;
  }
  
  .footer-distributed .footer-center p a{
	  color:  lightseagreen;
	  text-decoration: none;;
  }
  
  .footer-distributed  a:before {
	content: "|";
	font-weight:300;
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
  }
  
  
  .footer-distributed .footer-links .link-1:before {
	content: none;
  }
  .footer-links a:hover{
	color:yellow;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
	  width: 20%;
  }
  
  .footer-distributed .footer-company-about{
	  line-height: 20px;
	  color:  #92999f;
	  font-size: 13px;
	  font-weight: normal;
	  margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
	  display: block;
	  color:  #ffffff;
	  font-size: 14px;
	  font-weight: bold;
	  margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
	  margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
	  display: inline-block;
	  width: 35px;
	  height: 35px;
	  cursor: pointer;
	  background-color: yellow;
	  border-radius: 2px;
  
	  font-size: 20px;
	  color: #ffffff;
	  text-align: center;
	  line-height: 35px;
	  margin-right: 3px;
	  margin-bottom: 5px;
  }
  
  
  @media (max-width: 880px) {
  
	  .footer-distributed{
		  font: bold 14px sans-serif;
	  }
  
	  .footer-distributed .footer-left,
	  .footer-distributed .footer-center,
	  .footer-distributed .footer-right{
		  display: block;
		  width: 100%;
		  margin-bottom: 40px;
		  text-align: center;
	  }
  
	  .footer-distributed .footer-center i{
		  margin-left: 0;
	  }
  
  }
  
  .social a{
	  padding: 8px;
	  color:#d0ff00;
	  font-size:1.1rem;
  }
  
  .social{
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  background-color: linear-gradient(135deg, #353535 10%, yellow 320%);
	  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	transition: 0.2s;
  }
  .social a:hover{
	  color:#434e0f;
	  transition: all ease 0.3s;
  }
  
  #message {
    position: fixed;
    top: 35%;
    left: 50%;
	transition: 0.4s;
    transform: translate(-50%, -50%);
    text-align: center;
	color:#0c023b;
    background-color:#ccc;
    padding: 20px;
    border: 1px solid #ccc;
	border-radius: 10px;
	opacity: 90%;
    display: none;
}
